.color-red{
    background-color: #FF0000!important;
    /*border-color: red;*/
    color: #ffffff;

}

.color-green{
    background-color: #18a689!important;
    /*border-color: red;*/
    color: #ffffff;

}

.color-yellow{
    background-color: #FFD54B!important;
    color: #ffffff;
}

.color-gold{
    background-color: #e2c422!important;
    color: #ffffff;
}

.color-blue{
    background-color: #1c84c6!important;
    color: #ffffff;
}


.color-111{
    background-color: #F4606C!important;
    color: #ffffff;
}


.color-222{
    background-color: #ECAD9E!important;
    color: #ffffff;
}

.color-333{
    background-color: #19CAAD!important;
    color: #ffffff;
}

.color-444{
    background-color: #D1BA74!important;
    color: #ffffff;
}

.color-555{
    background-color: #A0EEE1!important;
    color: #ffffff;
}

.color-666{
    background-color: #83af9b !important;
    color: #ffffff;
}

.color-777{
    background-color: #CC99CC !important;
    color: #ffffff;
}

.color-888{
    background-color: #99CCFF !important;
    color: #ffffff;
}

.color-999{
    background-color: #CCCC33 !important;
    color: #ffffff;
}



