.my-wait {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity:0.6;
    background: url('http://img.blog.csdn.net/20161205162919763') 50% 50% no-repeat rgb(249,249,249);
}